.footer-child14 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1728px;
  height: 371px;
  opacity: 0.6;
}
.get-exclusive-deals4,
.important-links4,
.legal-pages3 {
  position: absolute;
  top: 81px;
  left: 1404px;
  font-size: var(--font-size-lg);
  line-height: 43px;
}
.get-exclusive-deals4,
.legal-pages3 {
  left: 1152px;
}
.get-exclusive-deals4 {
  left: 627px;
}
.email-policy4 {
  text-decoration: underline;
}
.we-wont-spam-container4 {
  position: absolute;
  top: 202px;
  left: 657px;
  font-size: var(--font-size-smi);
  line-height: 43px;
}
.footer-child15 {
  position: absolute;
  top: 371px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1728px;
  height: 73px;
}
.privacy-policy-terms4 {
  position: absolute;
  top: 396px;
  left: 1348px;
  color: var(--color-white);
  white-space: pre-wrap;
}
.bilineo-copyright-20244 {
  position: absolute;
  top: 397px;
  left: 116px;
  color: var(--color-white);
}
.get-help4 {
  margin: 0;
}
.get-help-add-your-container4,
.terms-and-conditions-container4 {
  position: absolute;
  top: 120px;
  left: 1404px;
  text-decoration: underline;
  line-height: 43px;
  color: var(--color-black);
  display: inline-block;
  width: 233px;
  height: 170px;
}
.terms-and-conditions-container4 {
  left: 1152px;
  width: 177px;
  height: 86px;
}
.company-490039-445-container4 {
  position: absolute;
  top: 225px;
  left: 100px;
  color: var(--color-black);
}
.footer-child16,
.footer-child17 {
  position: absolute;
  top: 147px;
  left: 627px;
  border-radius: var(--br-101xl);
  background-color: var(--color-gainsboro-100);
  width: 381px;
  height: 59px;
}
.footer-child17 {
  left: 941px;
  background-color: var(--color-steelblue);
  width: 171px;
}
.youremailgmailcom4 {
  position: absolute;
  top: 155px;
  left: 657px;
  line-height: 43px;
  color: var(--color-gray-900);
}
.subscribe5 {
  position: absolute;
  top: 165px;
  left: 983px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 106px;
  height: 24px;
}
.facebook-icon4,
.instagram-icon4,
.tiktok-icon4 {
  position: absolute;
  top: 256px;
  left: 652px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.instagram-icon4,
.tiktok-icon4 {
  left: 711px;
}
.tiktok-icon4 {
  left: 770px;
}
.bilineo8 {
  position: absolute;
  top: 110px;
  left: 94px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-poetsenone);
  color: var(--color-black);
  cursor: pointer;
}
.footer4 {
  position: absolute;
  top: 882px;
  left: 0;
  width: 1728px;
  height: 444px;
  color: var(--color-gray-200);
}
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
  width: 1101px;
  height: 645px;
}
.email,
.name,
.username {
  position: absolute;
  top: 14px;
  left: 50px;
}
.email,
.name {
  top: 136px;
  left: 97px;
}
.email {
  top: 240px;
  left: 104px;
}
.gender,
.phone-number2 {
  position: absolute;
  top: 344px;
  left: 0;
}
.gender {
  top: 440px;
  left: 82px;
}
.group-child32,
.group-child33 {
  position: absolute;
  top: 0;
  left: 214px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 676px;
  height: 60px;
}
.group-child33 {
  top: 122px;
}
.add,
.trendsgboxadnueduph {
  position: absolute;
  top: 240px;
  left: 214px;
  font-size: var(--font-size-xl);
}
.add {
  top: 342px;
  text-decoration: underline;
  color: var(--color-steelblue);
}
.group-child34 {
  position: absolute;
  top: 446px;
  left: 224px;
  border-radius: 50%;
  background-color: #1d1d1d;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.male {
  position: absolute;
  top: 440px;
  left: 261px;
}
.group-child35,
.group-child36,
.group-child37 {
  position: absolute;
  top: 446px;
  left: 370px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.group-child36,
.group-child37 {
  top: 550px;
  left: 224px;
}
.group-child37 {
  left: 370px;
  background-color: var(--color-black);
}
.female,
.group-child38 {
  position: absolute;
  top: 440px;
  left: 407px;
}
.group-child38 {
  top: 446px;
  left: 545px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.other {
  position: absolute;
  top: 440px;
  left: 582px;
}
.customer,
.store,
.user {
  position: absolute;
  top: 544px;
  left: 115px;
}
.customer,
.store {
  top: 547px;
  left: 261px;
  font-size: var(--font-size-xl);
}
.customer {
  top: 546px;
  left: 407px;
}
.kerry-oki3,
.okioki1234 {
  position: absolute;
  top: 17px;
  left: 239px;
  font-size: var(--font-size-lg);
  font-weight: 300;
}
.kerry-oki3 {
  top: 138px;
}
.group-child39,
.username-parent {
  position: absolute;
  top: 43px;
  left: 65px;
  width: 890px;
  height: 577px;
}
.group-child39 {
  top: 557px;
  left: 903px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue);
  width: 149px;
  height: 48px;
}
.save {
  position: absolute;
  top: 563px;
  left: 947px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-white);
}
.profile-page-inner,
.rectangle-parent54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1101px;
  height: 645px;
}
.profile-page-inner {
  top: 184px;
  left: 498px;
  font-size: var(--font-size-3xl);
}
.group-child40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.kerry-oki4 {
  position: absolute;
  top: 20px;
  left: 129px;
  font-size: var(--font-size-21xl);
}
.my-account {
  position: absolute;
  top: 146px;
  left: 50px;
  font-weight: 600;
}
.image-7-icon {
  position: absolute;
  top: 253px;
  left: 5px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.favorites,
.payment-methods,
.purchases,
.rewards {
  position: absolute;
  top: 248px;
  left: 50px;
  font-weight: 600;
}
.favorites,
.payment-methods,
.rewards {
  top: 302px;
}
.favorites,
.rewards {
  top: 356px;
}
.rewards {
  top: 410px;
}
.profile {
  position: absolute;
  top: 200px;
  left: 68px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
}
.gift-1-icon,
.image-8-icon,
.image-9-icon,
.user-1-icon {
  position: absolute;
  top: 307px;
  left: 5px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.gift-1-icon,
.image-9-icon,
.user-1-icon {
  top: 361px;
}
.gift-1-icon,
.user-1-icon {
  top: 415px;
}
.user-1-icon {
  top: 151px;
}
.ellipse-group {
  position: absolute;
  top: 246px;
  left: 125px;
  width: 303px;
  height: 446px;
  font-size: var(--font-size-5xl);
}
.nav-bar-child2 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-goldenrod-100);
  width: 1728px;
  height: 131px;
}
.bilineo9,
.cloche-1-icon4 {
  position: absolute;
  cursor: pointer;
}
.bilineo9 {
  top: 1px;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-poetsenone);
}
.cloche-1-icon4 {
  top: 8px;
  left: 1157px;
  width: 53px;
  height: 44px;
  object-fit: cover;
}
.messages4,
.orders5,
.stores4 {
  position: absolute;
  top: 17px;
  left: 1017px;
  font-weight: 500;
  cursor: pointer;
}
.messages4,
.stores4 {
  left: 867px;
}
.messages4 {
  left: 682px;
}
.span4 {
  color: var(--color-white);
  white-space: pre-wrap;
}
.home4 {
  position: absolute;
  top: 17px;
  left: 535px;
  font-weight: 500;
  cursor: pointer;
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-101xl);
  background-color: var(--color-gray-200);
  width: 234px;
  height: 61px;
}
.logout {
  position: absolute;
  top: 0;
  left: 42.4px;
  font-weight: 500;
  display: inline-block;
  width: 138.8px;
}
.male-user-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xs);
  width: 31px;
  height: 27px;
  object-fit: cover;
}
.logout-parent {
  position: absolute;
  top: 17px;
  left: 26.4px;
  width: 181.2px;
  height: 27px;
}
.rectangle-parent55 {
  position: absolute;
  top: 0;
  left: 1289px;
  width: 234px;
  height: 61px;
  cursor: pointer;
  color: var(--color-white);
}
.bilineo-parent2,
.nav-bar4 {
  position: absolute;
  top: 37px;
  left: 102px;
  width: 1523px;
  height: 61px;
}
.nav-bar4 {
  top: 0;
  left: 0;
  width: 1728px;
  height: 131px;
  font-size: var(--font-size-lg);
}
.profile-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1325px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
